
<%= @shops.each do |shop| %>
<div class="col-lg-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%= link_to shop.name, shops_path(shop) %></li>
      <li><%= shop.location %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
<% end %>
