
<section class="jumbotron">
  <div class="container">
  <h1>Bamboo</h1>
  <p>A great place for retail therapy</p>
  <p><a class="btn btn-primary btn-lg" href="/shops" role="button">Go shopping</a></p>
</div>
</section>

<section class="container">
  <div class="row">

    <figure class="col-sm-6">
      <h1>get creative</h1>
      <p>all art supplies 50% off</p>
      <img src="<%= asset_path('arts-and-crafts-supplies.jpg') %>" />
    </figure>

      <figure class="col-sm-6">
        <h1>enjoy some carbs</h1>
        <p>order a custom bread-bowl</p>
        <img src="<%= asset_path('classic-baking.jpg') %>" />
      </figure>

  </div>
</section>
