/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.jumbotron{
     background: url("bamboo.jpg") no-repeat center center;
     -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 100%;
 }

 .jumbotron h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron p {
  margin: 0 0 20px;
  color: #fff;
}

.btn-main.btn {
  color: #ffffff;
  background-color: #87ceeb;
}

.btn.btn-primary {
  border: 1px solid #000000;
  color: #000000;
  text-shadow: none;
  background-color: #b0c4de;
  position: relative;
}

.btn.btn-primary:active {
  top: 6px;
  border-bottom: 0;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}


.navbar {
    background-color:#ffffff;
    color:#ffffff;
    border-radius:0;
}

.navbar .nav > li > a {
    color:  #000000;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-sm-12 {
  margin: 0 0 30px;
}

.footer p {
    padding-left: 15px;
}

#location {
  padding-left: 14px;
}

#desc {
  padding-left: 14px;
}

#new-item-button {
  padding-left: -20px;
}

.well {
    background: #ffffff;
}


body {
    background-color: rgb(249, 249, 249);
}
